<div class="app">
  <header>
    <h1>Вопросы кандидату на должность фронтенд-разработчика</h1>
    <p>Изучено из предложенных: {{ getLearnedCount() }} / {{ getTotalCount() }}</p>
  </header>

  <div class="filters">
    <label for="category">Категории вопросов:</label>
    <select id="category" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
      <option disabled value="">Выберите категорию</option>
      <option value="Все">Все</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>
  </div>

  <div class="cards-container">
    <app-card *ngFor="let question of filteredQuestions" [question]="question"></app-card>
  </div>
</div>


